# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Project specific
laporan_keuangan/
downloader.log
dist/
build/
*.spec
.DS_Store

# Environment & Logs
.env
.env.*
logs/
*.log

# Data & Logs
status_logs/
metadata/
laporan_keuangan/
